<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN" "http://www.springframework.org/dtd/spring-beans-2.0.dtd">


<beans>
	<!-- Tutorial XML -->
	<bean id="triangle" class="br.unb.cic.poo.tutorial.Triangle">
		<!-- Setter injection -->
		<!-- <property name="type" value="equilateral"/> -->
	
		<!-- Constructor injection -->
		<!-- <constructor-arg index="0" type="java.lang.String" value="Equilateral"/> -->
		<!-- <constructor-arg index="1" type="int" value="10"/> -->
	
		<!-- Object injection -->
		<property name="A" ref="first"/>
		<property name="B">
			<!-- Inner Bean -->
			<bean class="br.unb.cic.poo.tutorial.Point">
				<property name="X" value="42"/>
				<property name="Y" value="5"/>
			</bean>
		</property>
		<property name="C" ref="third"/>
		
	</bean>
	
	<!-- Object Injection -->
	<bean id="first" class="br.unb.cic.poo.tutorial.Point">
		<property name="X" value="32"/>
		<property name="Y" value="10"/>
	</bean>

	<bean id="third" class="br.unb.cic.poo.tutorial.Point">
		<property name="X" value="12"/>
		<property name="Y" value="16"/>
	</bean>
	
	<!-- Aliases -->
	<alias name="triangle" alias="triangle-alias"/>
	
</beans>